# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# The following .gitignore arguments are appropriate for repositories deployed to GitHub Pages and using a Gemfile as
# specified at https://github.com/github/pages-gem#conventional

# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Additional Ruby/bundler ignore for when you run: bundle install
/vendor

# GitHub Pages will always use its own deployed version of pages-gem
# This means GitHub Pages will NOT use your Gemfile.lock and therefore it is counterproductive to check this file into
# the repository.
# Details at https://github.com/github/pages-gem/issues/768
Gemfile.lock

# Don't let Mac users contaminate our repo
.DS_Store

## R caching/autosaving stuff:
.Rproj.user
.Rhistory
.RData
.Ruserdata

## Bookdown build stuff:
_publish.R
_book
_bookdown_files

## latexmk debris:
*.tex
*.aux
*.log
*.out
*.nav
*.snm
*.toc
*.vrb
*.bbl
*.blg
*.fdb_latexmk
*.fls

## KnitR caches for lecture slides:
/lectures/**/cache/
/lectures/**/figure/

## Undo any accidental exclusion of the lecture slides:
!pdf/*.pdf
!docs/pdf/*.pdf
